# Battleship Project
###### By Ian and Naruki

A joint expidition for us, we will be using python to create a simulation of the game "Battleship", and attempt to create different strategies/AI that will increase the efficiency of guessing an opponent's ship placement.

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import string
import random

We will begin by creating the board. In our case, the numbers constitute columns while the letters are rows.

In [2]:
temp = pd.DataFrame(
    index= [list(string.ascii_uppercase)], 
    columns= [list(range(1,11))]
)
df = temp.head(10)
df

    1    2    3    4    5    6    7    8    9    10
A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
E  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
F  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
G  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
H  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
J  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

Now, lets fill the board observations with the string 'X', denoting a position free from both ships and player guesses.

In [3]:
board_empty = temp.fillna('X').head(10)
board_empty

  1  2  3  4  5  6  7  8  9  10
A  X  X  X  X  X  X  X  X  X  X
B  X  X  X  X  X  X  X  X  X  X
C  X  X  X  X  X  X  X  X  X  X
D  X  X  X  X  X  X  X  X  X  X
E  X  X  X  X  X  X  X  X  X  X
F  X  X  X  X  X  X  X  X  X  X
G  X  X  X  X  X  X  X  X  X  X
H  X  X  X  X  X  X  X  X  X  X
I  X  X  X  X  X  X  X  X  X  X
J  X  X  X  X  X  X  X  X  X  X

Now we have to create a dataframe with random coordinates for positioning ships.

In [19]:
ships = pd.DataFrame({
    'row'    : random.choices(list(string.ascii_uppercase)[0:10],k=17),
    'column' : random.choices(list(range(1,11))[0:10],k=17),
    'ship'   : ['Carier'] * 5 + ['Battleship'] * 4 + ['Cruiser'] * 3 + ['Submarine'] * 3 + ['Destroyer'] * 2
})
ships

   row  column        ship
0    I       4      Carier
1    C       7      Carier
2    G       2      Carier
3    E       5      Carier
4    H      10      Carier
5    F       2  Battleship
6    H       3  Battleship
7    C       6  Battleship
8    G       8  Battleship
9    D       8     Cruiser
10   B       6     Cruiser
11   H       1     Cruiser
12   B       5   Submarine
13   A       8   Submarine
14   D       1   Submarine
15   E       9   Destroyer
16   H       9   Destroyer

In [ ]:
for i in ships.ship:
    angle = ['h','v'][random.randint(0,1)]

Since the both of us are fairly new to the python programming language, lets create a test board where we can attempt to alter single square observations.

In [5]:
test_board = board_empty
test_board.loc['A',[1]]='S'
test_board

  1  2  3  4  5  6  7  8  9  10
A  S  X  X  X  X  X  X  X  X  X
B  X  X  X  X  X  X  X  X  X  X
C  X  X  X  X  X  X  X  X  X  X
D  X  X  X  X  X  X  X  X  X  X
E  X  X  X  X  X  X  X  X  X  X
F  X  X  X  X  X  X  X  X  X  X
G  X  X  X  X  X  X  X  X  X  X
H  X  X  X  X  X  X  X  X  X  X
I  X  X  X  X  X  X  X  X  X  X
J  X  X  X  X  X  X  X  X  X  X

Now let's create a filled board with a for loop, using the ships dataframe as a guide for which positions to change.

In [6]:
board_filled = board_empty
for i in ships.index:
    letter = ships.row[i]
    number = ships.column[i]
    board_filled.loc[letter,[number]] = 'S'
board_filled

  1  2  3  4  5  6  7  8  9  10
A  S  X  X  S  X  X  X  X  X  X
B  S  X  X  X  X  X  X  X  X  X
C  S  S  X  X  X  S  X  S  X  X
D  X  X  X  X  X  X  X  X  X  X
E  X  X  X  X  X  X  X  X  X  X
F  X  X  X  S  X  X  X  X  X  X
G  X  S  S  X  X  X  X  X  X  X
H  X  X  X  X  X  S  X  S  X  X
I  X  X  X  X  X  X  X  X  S  X
J  S  X  X  X  X  X  S  X  X  X