In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import string
import random

In [2]:
temp = pd.DataFrame(index= [list(string.ascii_uppercase)], columns= [list(range(1,11)) ])
df = temp.head(10)
df

    1    2    3    4    5    6    7    8    9    10
A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
E  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
F  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
G  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
H  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
J  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [6]:
temp.fillna('False').head(10)

      1      2      3      4      5      6      7      8      9      10
A  False  False  False  False  False  False  False  False  False  False
B  False  False  False  False  False  False  False  False  False  False
C  False  False  False  False  False  False  False  False  False  False
D  False  False  False  False  False  False  False  False  False  False
E  False  False  False  False  False  False  False  False  False  False
F  False  False  False  False  False  False  False  False  False  False
G  False  False  False  False  False  False  False  False  False  False
H  False  False  False  False  False  False  False  False  False  False
I  False  False  False  False  False  False  False  False  False  False
J  False  False  False  False  False  False  False  False  False  False

In [24]:
ships = pd.DataFrame(random.choices(list(string.ascii_uppercase)[0:10],k=17))
ships

    0
0   I
1   J
2   J
3   I
4   J
5   G
6   B
7   G
8   E
9   E
10  C
11  D
12  E
13  E
14  I
15  E
16  G

In [25]:
number = pd.DataFrame(random.choices(list(range(1,11))[0:10],k=17))
number

     0
0    8
1    6
2    9
3    7
4    2
5    8
6    5
7    6
8   10
9    5
10   9
11   2
12   6
13   8
14   1
15  10
16   2

In [29]:
pd.merge(ships, number, left_index=True, right_index=True)

   0_x  0_y
0    I    8
1    J    6
2    J    9
3    I    7
4    J    2
5    G    8
6    B    5
7    G    6
8    E   10
9    E    5
10   C    9
11   D    2
12   E    6
13   E    8
14   I    1
15   E   10
16   G    2