In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np
import string
import random

In [3]:
temp = pd.DataFrame(index= [list(string.ascii_uppercase)], columns= [list(range(1,11)) ])
df = temp.head(10)
df

    1    2    3    4    5    6    7    8    9    10
A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
E  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
F  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
G  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
H  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
J  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [4]:
board_empty = temp.fillna('False').head(10)
board_empty

      1      2      3      4      5      6      7      8      9      10
A  False  False  False  False  False  False  False  False  False  False
B  False  False  False  False  False  False  False  False  False  False
C  False  False  False  False  False  False  False  False  False  False
D  False  False  False  False  False  False  False  False  False  False
E  False  False  False  False  False  False  False  False  False  False
F  False  False  False  False  False  False  False  False  False  False
G  False  False  False  False  False  False  False  False  False  False
H  False  False  False  False  False  False  False  False  False  False
I  False  False  False  False  False  False  False  False  False  False
J  False  False  False  False  False  False  False  False  False  False

In [5]:
ships = pd.DataFrame(random.choices(list(string.ascii_uppercase)[0:10],k=17))
ships

    0
0   I
1   I
2   J
3   A
4   J
5   B
6   F
7   B
8   E
9   C
10  B
11  D
12  H
13  B
14  J
15  J
16  D

In [6]:
number = pd.DataFrame(random.choices(list(range(1,11))[0:10],k=17))
number

     0
0    1
1    9
2    2
3    5
4    3
5    6
6    6
7    8
8   10
9    4
10   1
11   1
12   1
13   3
14   1
15  10
16   5

In [7]:
ship_positions = pd.merge(ships, number, left_index=True, right_index=True)
ship_positions

   0_x  0_y
0    I    1
1    I    9
2    J    2
3    A    5
4    J    3
5    B    6
6    F    6
7    B    8
8    E   10
9    C    4
10   B    1
11   D    1
12   H    1
13   B    3
14   J    1
15   J   10
16   D    5

In [8]:
from collections import defaultdict

In [ ]:
classes = ((A,))