In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import string
import random

In [2]:
temp = pd.DataFrame(index= [list(string.ascii_uppercase)], columns= [list(range(1,11)) ])
df = temp.head(10)
df

    1    2    3    4    5    6    7    8    9    10
A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
E  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
F  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
G  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
H  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
J  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [30]:
board_empty = temp.fillna('False').head(10)
board_empty

      1      2      3      4      5      6      7      8      9      10
A  False  False  False  False  False  False  False  False  False  False
B  False  False  False  False  False  False  False  False  False  False
C  False  False  False  False  False  False  False  False  False  False
D  False  False  False  False  False  False  False  False  False  False
E  False  False  False  False  False  False  False  False  False  False
F  False  False  False  False  False  False  False  False  False  False
G  False  False  False  False  False  False  False  False  False  False
H  False  False  False  False  False  False  False  False  False  False
I  False  False  False  False  False  False  False  False  False  False
J  False  False  False  False  False  False  False  False  False  False

In [37]:
ships = pd.DataFrame({
    'column' : random.choices(list(range(1,11))[0:10],k=17),
    'row'    : random.choices(list(string.ascii_uppercase)[0:10],k=17)
})
ships

    column row
0        5   F
1        8   G
2        7   H
3        5   H
4        9   A
5        3   E
6       10   H
7        5   C
8        9   G
9        3   H
10       3   C
11      10   A
12       3   F
13      10   E
14       4   H
15       5   H
16       6   A

In [33]:
test_board_filled = board_empty
test_board_filled.loc['A',[1]]=True
test_board_filled

      1      2      3      4      5      6      7      8      9      10
A   True  False  False  False  False  False  False  False  False  False
B  False  False  False  False  False  False  False  False  False  False
C  False  False  False  False  False  False  False  False  False  False
D  False  False  False  False  False  False  False  False  False  False
E  False  False  False  False  False  False  False  False  False  False
F  False  False  False  False  False  False  False  False  False  False
G  False  False  False  False  False  False  False  False  False  False
H  False  False  False  False  False  False  False  False  False  False
I  False  False  False  False  False  False  False  False  False  False
J  False  False  False  False  False  False  False  False  False  False

In [36]:
board_filled = board_empty
for i in ship_positions:

TypeError: 'numpy.dtype' object is not callable