In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import string
import random

In [2]:
temp = pd.DataFrame(index= [list(string.ascii_uppercase)], columns= [list(range(1,11)) ])
df = temp.head(10)
df

    1    2    3    4    5    6    7    8    9    10
A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
E  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
F  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
G  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
H  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
J  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [69]:
board_empty = temp.fillna('False').head(10)
board_empty

      1      2      3      4      5      6      7      8      9      10
A  False  False  False  False  False  False  False  False  False  False
B  False  False  False  False  False  False  False  False  False  False
C  False  False  False  False  False  False  False  False  False  False
D  False  False  False  False  False  False  False  False  False  False
E  False  False  False  False  False  False  False  False  False  False
F  False  False  False  False  False  False  False  False  False  False
G  False  False  False  False  False  False  False  False  False  False
H  False  False  False  False  False  False  False  False  False  False
I  False  False  False  False  False  False  False  False  False  False
J  False  False  False  False  False  False  False  False  False  False

In [80]:
ships = pd.DataFrame({
    'row'    : random.choices(list(string.ascii_uppercase)[0:10],k=17),
    'column' : random.choices(list(range(1,11))[0:10],k=17)
})
ships

    column row
0        6   H
1        8   A
2        1   A
3        8   C
4       10   E
5        8   B
6        7   B
7        3   F
8       10   F
9        6   I
10       1   A
11       7   J
12       8   C
13       1   B
14       6   J
15       2   E
16       2   B

In [45]:
test_board = board_empty
test_board.loc['A',[1]]=True
test_board

      1      2      3      4      5      6      7      8      9      10
A   True  False  False  False  False  False  False  False  False  False
B  False  False  False  False  False  False  False  False  False  False
C  False  False  False  False  False  False  False  False  False  False
D  False  False  False  False  False  False  False  False  False  False
E  False  False  False  False  False  False  False  False  False  False
F  False  False  False  False  False  False  False  False  False  False
G  False  False  False  False  False  False  False  False  False  False
H  False  False  False  False  False  False  False  False  False  False
I  False  False  False  False  False  False  False  False  False  False
J  False  False  False  False  False  False  False  False  False  False

In [81]:
board_filled = board_empty
for i in ships.index:
    letter = ships.row[i]
    number = ships.column[i]
    board_filled.loc[letter,[number]] = True
board_filled

      1      2      3      4      5      6      7      8      9      10
A   True  False  False  False  False   True  False   True   True   True
B   True   True  False  False  False  False   True   True  False  False
C  False  False   True  False   True  False  False   True  False  False
D  False  False  False  False  False  False  False  False  False  False
E  False   True   True  False  False  False  False  False  False   True
F  False  False   True  False   True  False  False  False  False   True
G  False  False  False  False  False  False  False   True   True  False
H  False  False   True   True   True   True   True  False  False   True
I  False  False  False  False  False   True  False  False  False  False
J  False  False  False  False  False   True   True  False  False  False