In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import string
import random

In [2]:
temp = pd.DataFrame(index= [list(string.ascii_uppercase)], columns= [list(range(1,11)) ])
df = temp.head(10)
df

    1    2    3    4    5    6    7    8    9    10
A  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
E  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
F  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
G  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
H  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
J  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [3]:
board_empty = temp.fillna('False').head(10)
board_empty

      1      2      3      4      5      6      7      8      9      10
A  False  False  False  False  False  False  False  False  False  False
B  False  False  False  False  False  False  False  False  False  False
C  False  False  False  False  False  False  False  False  False  False
D  False  False  False  False  False  False  False  False  False  False
E  False  False  False  False  False  False  False  False  False  False
F  False  False  False  False  False  False  False  False  False  False
G  False  False  False  False  False  False  False  False  False  False
H  False  False  False  False  False  False  False  False  False  False
I  False  False  False  False  False  False  False  False  False  False
J  False  False  False  False  False  False  False  False  False  False

In [20]:
ships = pd.DataFrame({'letter' : random.choices(list(string.ascii_uppercase)[0:10],k=17)})
ships

   letter
0       E
1       A
2       J
3       C
4       A
5       G
6       A
7       C
8       H
9       J
10      F
11      F
12      J
13      E
14      E
15      E
16      B

In [21]:
number = pd.DataFrame({'number' : random.choices(list(range(1,11))[0:10],k=17)})
number

    number
0        5
1        1
2        4
3        8
4        7
5       10
6        9
7        3
8        3
9        2
10       1
11       7
12       8
13       9
14       6
15      10
16       5

In [22]:
ship_positions = pd.merge(ships, number, left_index=True, right_index=True)
ship_positions

   letter  number
0       E       5
1       A       1
2       J       4
3       C       8
4       A       7
5       G      10
6       A       9
7       C       3
8       H       3
9       J       2
10      F       1
11      F       7
12      J       8
13      E       9
14      E       6
15      E      10
16      B       5

In [7]:
from collections import defaultdict

In [8]:
classes = ((A,))

NameError: name 'A' is not defined